.nav-link {
  color: var(--linksColor);
  border-radius: 5px;
  user-select: none;
}
.nav-link:hover {
  color: white;
  background-color: var(--linksColor);
}

.user-menu:hover>button{
  color: white;
  background-color: var(--linksColor);
}
.user-menu:hover>button>i{
  color: white;
  background-color: var(--linksColor);
}
.user-menu>button,.user-menu>button>i{
  color: var(--linksColor);
}