<div
  class="nav-categories position-absolute w-100 overflow-auto row m-0 flex-column px-3 py-2"
>
  <!--col-md-3-->
  <div *ngFor="let cat of categories" class="col-4 col-md-2 p-2">
    <b
      ><a
        class="link"
        style="text-transform: uppercase"
        (click)="onClickCategory(cat.categoryId)"
        >{{ cat.name }}</a
      ></b
    >
    <div class="d-flex flex-column">
      <a
        class="link"
        *ngFor="let subcat of cat.subcategories"
        style="text-transform: lowercase"
        (click)="onClickSubcategory(cat.categoryId, subcat.subcategoryId)"
        >{{ subcat.name }}</a
      >
    </div>
  </div>
</div>
