/* You can add global styles to this file, and also import other style files */

:root {
  --linksColor: rgb(10, 78, 131);
  --mainColor: rgb(5, 63, 108);
  --secondColor: rgb(5, 28, 46);
}
* {
  font-family: "calibri";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--mainColor);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--secondColor);
}
