<section class="container m-auto my-5 py-1 px-5">
    <h1 class="text-center my-2 fs-1">Login in page </h1>
    <div class="row g-0 ">
        <img src="./assets/images/login.PNG" alt="" srcset="" class=" col-lg-6  d-md-flex ">
        <form class="col-lg-5 m-1 d-flex align-items-center justify-content-center flex-column">
            <div
                class="row  justify-content-center align-items-center border  border-top-0 border-dark rounded-pill">

                <i class=" mx-1 text-center col-1 fa-solid fa-user"></i>
                <input type="text" class=" border-0 col fs-3  m-3 px-2 " name="name" id="username">
            </div>
            <label class="alert text-danger p-2 my-2  fs-6" id="namealert"></label>
            <div
                class="row  justify-content-center align-items-center border  border-top-0 border-dark rounded-pill">

                <i class="mx-1 text-center col-1 fa-solid fa-lock"></i>
                <input type="password" class="border-0 col fs-3  m-3 px-2 " name="password" id="password">
            </div>
            <label class="alert text-danger p-2 my-2  fs-6" id="paswordalert"></label>
            <button class="py-2 w-100 border-0 rounded-pill text-light fs-4 mb-3">Sign in</button>
            <h3 class="text-secondary fs-6">Don't have an account <a routerLink="register">Sign up</a></h3>
        </form>
    </div>
</section>