
<section class="container m-5 w-50 ">
    <h2>New Category Instruction</h2>
    <form>
        <div class="mb-3">
            <label for="categoryName" class="form-label">Category </label>
            <select (change)="onSelectCategory()" class="form-select" name="categoryId" id="categoryId" [(ngModel)]="categoryId">
                <option *ngFor="let category of categories" [value]="category.categoryId">{{category.name}}</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="categoryName" class="form-label"> Instruction </label>
            <select name="instructionId" required class="w-100 my-1 form-select" [(ngModel)]="instructionId" [disabled]="isInstructionDisabled">
                <option value="0">-- choose instruction</option>
                <option *ngFor="let instruction of notUsedInstructions" [value]="instruction.instructionId">
                    {{ instruction.text }}
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" (click)="addCatInstruction()">Submit</button>
    </form>
</section>