<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="#">City</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " aria-current="page">All Cities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="#">Add City</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">Update City</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">Delete City</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<section class="container m-5 w-50 ">
  <h2>New City</h2>
<form>
    <div class="mb-3">
      <label for="cityName" class="form-label">City Name</label>
      <input type="text" [(ngModel)]="cityName" class="form-control" id="cityName" name="cityName">
    </div>
    <button type="submit" class="btn btn-primary" (click)="addCity()">Submit</button>
  </form>
  </section>