<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<form class="container m-5 w-50 ">
    <div class="mb-3">
      <label for="cityName" class="form-label">Cities </label>
      <select class="form-select" name="cityId" id="cityId" [(ngModel)]="cityId">
        <option  *ngFor="let city of cities" [value]="city.cityId">{{city.name}}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="areaName" class="form-label">Area Name</label>
      <input type="text" [(ngModel)]="areaName" class="form-control" id="areaName" name="areaName">
    </div>
    <button type="submit" class="btn btn-primary" (click)="addArea()">Submit</button>
  </form>