<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    width="150px" src="../../../../assets/images/logo.jpeg"><span
                    class="font-weight-bold">{{user.firstName}} {{user.lastName}}</span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3 class="text-right">Profile</h3>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12 ">
                        <h5 class="h5s">First Name</h5>
                        <p class="bolder fs-2 text-white bg-secondary rounded text-center">{{user.firstName}}</p>
                    </div>
                    <div class="col-md-12">
                        <h5 class="h5s">Last Name</h5>
                        <p class="bolder fs-2 text-white bg-secondary rounded text-center">{{user.lastName}}</p>
                    </div>
                    <div class="col-md-12">
                        <h5 class="h5s">Phone Number</h5>
                        <p class="bolder fs-2 text-white bg-secondary rounded text-center">{{user.phone}}</p>
                    </div>
                    <div class="col-md-12">
                        <h5 class="h5s">Email</h5>
                        <p class="bolder fs-2 text-white bg-secondary rounded text-center">{{user.email}}</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between  experience">
                    <div col-3>
                        <h3>Actions:</h3>
                    </div>
                    <div class="d-flex row col-6 align-content-around text-center">
                        <a class="border px-3 p-1 add-experience m-3" routerLink="/addProduct">
                            <i class="fa fa-plus back"></i> Products
                        </a>
                        <a class="border px-3 p-1 add-experience m-3" routerLink="/settings">
                            <i class="fa-solid fa-address-card"></i> Edit Profile
                        </a>
                        <a class="border px-3 p-1 add-experience m-3" routerLink="/changePassword">
                            <i class="fa-solid fa-key"></i> Change Password
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>