<div class="d-flex flex-column flex-shrink-0 p-1 text-white bg-dark" style="height: 100vh"
  [ngClass]="{ 'min-sidebar': isToggle, 'max-sidebar': !isToggle }">
  <a class="m-2 fs-5 text-decoration-none text-light" (click)="toggle()"
    [ngClass]="{ 'text-center': isToggle, 'ms-auto': !isToggle }">
    <i class="fa-solid fa-bars"></i>
  </a>
  <a routerLink="Home" class="text-primary text-center" (click)="active(Home)" style="font-size: xx-large">
    <i class=" border p-1 rounded-circle fa-solid fa-dove"></i>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
      <a routerLink="category" class="nav-link text-white" (click)="active(Home)" id="Home" #Home
        [ngClass]="{ 'fs-5': isToggle, 'text-center': isToggle }">
        <i class="fa-solid fa-layer-group m-1"></i>
        <span [ngClass]="{ 'd-none': isToggle }">Category</span>
      </a>

    </li>
    <li class="nav-item">
      <a routerLink="subcategory" class="nav-link text-white" [ngClass]="{ 'fs-5': isToggle, 'text-center': isToggle }">
        <i class="fa-solid fa-clone m-1"></i>
        <span [ngClass]="{ 'd-none': isToggle }">Sub Category</span>
      </a>

    </li>
    <li class="nav-item">
      <a routerLink="city" class="nav-link text-white" [ngClass]="{ 'fs-5': isToggle, 'text-center': isToggle }">
        <i class="fa-solid fa-city m-1"></i>
        <span [ngClass]="{ 'd-none': isToggle }">City </span>
      </a>

    </li>
    <li class="nav-item">
      <a routerLink="area" class="nav-link text-white" [ngClass]="{ 'fs-5': isToggle, 'text-center': isToggle }">
        <i class="fa-solid fa-building m-1"></i>
        <span [ngClass]="{ 'd-none': isToggle }">Area </span>
      </a>

    </li>
    <li class="nav-item">
      <a routerLink="instruction" class="nav-link text-white" [ngClass]="{ 'fs-5': isToggle, 'text-center': isToggle }">
        <i class="fa-solid fa-person-chalkboard m-1"></i>
        <span [ngClass]="{ 'd-none': isToggle }">Instruction </span>
      </a>

    </li>

  </ul>
  <div class="dropdown p-3" [ngClass]="{ 'd-none': isToggle }">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
      data-bs-toggle="dropdown" aria-expanded="false">
      <img src="../../../assets/Images/anonymous-user.png" alt="" width="32" height="32" class="rounded-circle me-2"
        id="userImage" />
      <strong id="userName"></strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
    </ul>
  </div>
</div>