<footer class="p-3">
  <div class="row w-100">
    <div class="col-12 col-md-4 my-2">
      <a href="">About Us</a>
      <a href="">Contact Us</a>
      <a href="">Privacy & Policy</a>
      <a href="">Services</a>
    </div>
    <div class="col-12 col-md-4 my-2">
      <a href="">Help</a>
      <a href="">Support</a>
      <a href="">Terms of services</a>
      <a href="">Resources</a>
    </div>
    <div
      class="col-12 col-md-4 my-2 d-flex flex-md-column flex-row justify-content-evenly"
    >
      <button class="btn p-0 col-4 m-1">
        <img src="../../../assets/images/footer-images/googlePlay.svg" />
      </button>
      <button class="btn p-0 col-4 m-1">
        <img src="../../../assets/images/footer-images/appStore.svg" />
      </button>
      <button class="btn p-0 col-4 m-1">
        <img src="../../../assets/images/footer-images/AppGallery.svg" />
      </button>
    </div>
  </div>
  <hr />
  <div
    class="w-25 m-auto d-flex justify-content-between justify-content-md-evenly"
  >
    <a href=""><i class="fa-brands fa-facebook"></i></a>
    <a href=""><i class="fa-brands fa-twitter"></i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
    <a href=""><i class="fa-brands fa-youtube"></i></a>
    <a href=""><i class="fa-brands fa-pinterest"></i></a>
  </div>
</footer>
