
<section class="container m-5 w-50 ">
  <h2>New Area</h2>
  <form >
    <div class="mb-3">
      <label for="cityName" class="form-label">Cities </label>
      <select class="form-select" name="cityId" id="cityId" [(ngModel)]="cityId">
        <option *ngFor="let city of cities" [value]="city.cityId">{{city.name}}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="areaName" class="form-label">Area Name</label>
      <input type="text" [(ngModel)]="areaName" class="form-control" id="areaName" name="areaName">
    </div>
    <button type="submit" class="btn btn-primary" (click)="addArea()">Submit</button>
  </form>
</section>